<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#if id}}
       
    <ul>
            <li>Model: {{phonesId.model}} <br>
            Color: {{phonesId.color}} <br>
            Price: {{phonesId.price}} <br>
            Id: {{phonesId.id}}</li>
    </ul>
   
    {{else}}
     {{#each phones}}
    <p>
        Model: {{this.model}} <br>
        Color: {{this.color}} <br>
        Price: {{this.price}} <br> 
        Id: {{this.id}}   
    </p> 
     {{/each}}
    {{/if}}
</body>
</html>